body{
    background: white;
    padding: 0%;
}

.navheader{
    background-color:whitesmoke;
    width: 100%;
    height: 10%;
}

.navheadertwo{
    background-color: rgb(25, 10, 238);
    width: 100%;
    height: 20%;
}

.navlist{
    display: flex;
}

.navlist > li {
    flex: 1;
  }