.navtwoitems{
    display: flex;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    text-align: center;
          
}



@media (min-width: 726px){
    .flex-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0px;
        margin-left: 0px;
        border-bottom: 1px solid #dee5e8;
        background-color:#dee5e8;
    }
}

@media (max-width: 726px){
    .flex-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0px;
        margin-left: 0px;
        border-bottom: 1px solid #dee5e8;
        background-color:#dee5e8;
    }
}

@media (min-width: 726px){
    .profilemainbar{
        width: 70%;
    }
    }


    .profilecontainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0px;
        border-bottom: 1px solid #dee5e8;
        overflow: hidden;
        margin-left: 241px;
        min-height: 67vh;
    }

@media (min-width: 726px){
    .navform{
      margin-left: auto;
      padding: 15px;
      
    }
}

@media (min-width: 1026px){
    .flex-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0px;
        margin-left: 0px;
        background-color: #dee5e8;
        border-bottom: 1px solid #dee5e8;
    }
}




@media (max-width: 726px){
    .signupheader{
        display: flex;
        flex-direction: column;
        /* justify-content: flex-center; */
        align-items: center;
        padding: 0px;
        margin-left: 0px;
        border-bottom: 1px solid #dee5e8;
        background-color:whitesmoke;
    }
}

@media (max-width: 726px){
    .signupcontainer{
        display: flex;
        flex-direction: column;
        height: 80vh;
        padding-left: 15vh;
   
    }
}

