body{
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    color: #4c555a;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
    color: #4c555a;
}

a {
	text-decoration: none;
}


.logo {
	margin: 0px;
	font-size: 14px;
}

.main-nav {
	margin-top: 5px;
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: 14px;
}


.main-nav a:hover {
	color: #718daa;
}



.header {
	height: auto;
	background-color: #fff;
	padding: 10px 30px;
    border-bottom: 5px solid;
	border-bottom-color: #9fb1b9;
	font-size: 14px;
}

@media (min-width: 769px) {
	.header,
	.main-nav{
		display: flex;
    }
    
	.header,{
		flex-direction: column;
		align-items: center;
    	 .header{
		width: 80%;
		margin: 0 auto;
        max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header{
		flex-direction: row;
        justify-content: space-between;
		padding-left: 5%;
		height: 7vh;
	}

}

.subheader{
	height: 38px;
    background-color: #f6f7f8;
    font-size: 15px;
	position: fixed;
	overflow-y: scroll;
}

 .headernavform {
    padding-left: 40px;
    width: 50%;
    border: 0 none;
    background:transparent;
	background:transparent;
} 

.flex-container{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 0px;
	margin-left: 0px;
	border-bottom: 1px solid #dee5e8;
	background-color: #f6f7f8;
}

.linavtwo{
	padding: 0px;
	margin-left: 13px;
	white-space: nowrap;
	margin-top: 15px;
}
.linavtwoall{
	height: 5vh;
	padding-left: 3vh;
	white-space: nowrap;
	margin-top: 15px;
}



.navform {
	width: 82vh;
	display: flex;
	justify-content: flex-end;
	padding-left: 32px;
	border: 0%;
	margin-left: 140px;
}

.body-container{
	display: flex;
	height: 100%;
	background-color: inherit;
	background: white;
	
}

.left-bar{
	width: 20%;
	height: 69vh;
}

.main-bar{
	width: 60%;
	border-left: 2px solid #eee;
	border-right: 2px solid #eee;
	margin-bottom: 10px;
	height: 76vh;
	overflow-y: scroll;
	position: fixed;
	margin-left: 315px;
	padding: 40px 0 -16px 0;
}

.right-bar{
	width: 20%;
	background-color: #fff;
	margin-left: 138vh;
	margin-right: 5vh;
	height: 60vh;
	margin-bottom: 10px;
	padding: 40px 0 20px 0;
	
} 
 
footer{
	width:100%;
	text-align: center;
	margin-top: 632px;
	background-color: #f6f7f8;
	position: fixed;

}

.text {
    padding: 0 20px 20px;
    align-items: center;
  }


    .cards {
        align-items: center;
        width: 100%;
      }
      .card {
        flex: 0 0 200px;
        margin: 10px;
        border: 0.1px solid #ccc;
	  } 
	  
	h3{
		text-align: center;
	}

	.detailsmaincontainer{
		margin: 10px;
		border: 0.1px solid #ccc;
	}

	.detailsmaincontainer >div{
		margin: 5px;
	}


	.detailseditbutton{
		background-color: #9fb1b9;
		font-size:14px;
		height: 6vh;
		width: 100%; 
		color: whitesmoke;
		font-weight: 400px;
	}

	.main-bardetails{
		width: 60%;
		border-left: 2px solid #eee;
		border-right: 2px solid #eee;
		margin-bottom: 10px;
		height: 76vh;
		position: fixed;
		margin-left: 315px;
		padding: 40px 0 -16px 0;
	}

	.signupheader{
		width: 100%;
		background-color: #f7f7f7;
		border-bottom: 1px solid #ececec;
		height: 12vh;
		padding: 75px 0;
	}

	.innersignheader{
		display: flex;
		background-color:#f7f7f7;
		width: 42%;
		height: 141%;
		margin-left: 30%;
		margin-top: -36px;
		align-items: center;
	}

	.headerfont{
		margin-left: 7%;
		font-size: 31px;
		color: #9ea7ad;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		border-right: 1px solid #ececec;
	}

	.psignup{
		font-family: inherit;
		font-size: 12px;
		margin-bottom: -95px;
		margin-left: -53vh;
		color: #9ea7ad;
	}

	.signupheader >h1{
		font-weight: 400;
		color: #a7a7a7;
		font-size: 40px;
	}

	.signupcontainer {
		overflow: hidden; 
	}
	.signupcontainer .signupleftmain {
		float: left;
		width: 20%;
	    box-sizing: border-box;
	    background-color: #fff;
	    padding: 10px;
	
	}
	.signupcontainer .signupcentermain {
		float: left;
		width: 60%;
	    box-sizing: border-box;
	    background-color: #fff;
	    padding: 10px;
	}
	
	.signupcontainer .signuprightmain {
		float: left;
		width: 20%;
	    box-sizing: border-box;
	    background-color: #fff;
	    padding: 10px;
	}
	
	.signupform{
		margin-top: 25px;

	}

	.inputform{
		margin: 10px;
		font-weight: 100;
		font-size: 25px;
		margin-left: -1vh;
		padding-top: 5px;
		padding-bottom: 5px;

		border: 1px solid #e0e0e0;
        border-radius: 8px;
	}

	.terms >p{
		font-size: 10px;
		margin-left: 32vh;
	}

	.signupbutton{
		background-color:#2283c9;
		border-radius: 3px;
		border: 0 none;
		color: #fff;
		font-size: 15px;
		padding: 12px 22px;
		float: right;
		margin-right: 33vh;
		margin-top: 7vh;
		border-radius: 8px;
	
	}

	.signuplogin{
		margin-top: 10vh;
		margin-left: 65vh;
		font-size: 12px;
		color: #777;
		line-height: 25px;

	}

	.profilemainbar{
		width: 70%;
		height: 81vh;
		border-right:0.1px solid #ccc;
	}

	.profilesidebar{
		width: 30%;
		height: 81vh;
	}

	.profilecontainer{
		display: flex;
		background-color: #fff;
	}

	.profilebodyheader{
		margin-left: 25px;
		height: 31vh;
		width: 97.5%;
		border-bottom:0.1px solid #ccc; 
	}

	.profilepic{
		height: 5vh;
		width: 6vh;
	}

	.journalstatistics{
		height: 18vh;
		width: 30vh;
		margin-top: 58px;
		margin-left: 46px;
		border-bottom:0.1px solid #ccc; 

	}

	.pjournals{
		font-size: 1.3125rem;
		line-height: 1;
		text-transform: none;
		letter-spacing: .01em;
		font-weight: 400;
		color: #829399;
	}

	.totalj{
		width: 10vh;
		height: 10vh;;
	}

	.totalentries{
		font-size: 23px;
		margin-top: -8vh;
		margin-left: 12vh;
		color: #829399;

	}
	.profiletitle{
		margin-top: 33px;
		font-size: 15px;
		margin-left: 122px;
	}

	.profiledetails{
		margin-left: 35px;
		width: 28%;
		margin-top: 43px;
		height:20vh;
	}

	.reminders{
    width: 40vh;
    height: 30vh;
    margin-left: 46px;
	margin-top: 44px;
	}

	.fontreminders{
		margin-left: 46px;
		color: #829399;
		font-size: 23px;
	}

	input[type=text], select {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}
	
	.reminderbutton {
	    background-color: #2283c9;
		border-radius: 3px;
		border: 0 none;
		color: #fff;
		font-size: 11px;
		padding: 12px 22px;
		float: right;
		margin-right: 12vh;
		margin-top: 0vh;
		border-radius: 8px;
	}
	 
.addentrybutton{
	background-color: #2283c9;
    border-radius: 3px;
    border: 0 none;
    color: #fff;
    font-size: 15px;
    padding: 12px 22px;
	float: right;
	width: 15vh;
}

.textarea{
	width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;

}

.addheader{
	display: flex;
	background-color: #9fb1b9;
    font-size: 13px;
	height: 4vh;
	width:auto;
	margin-left: 0%;
}

.addform{
}
